version: "3.7"

services:
  golang:
    tty: true
    build:
      context: .
      dockerfile: Dockerfile
      target: build
    volumes:
      - ./app:/go/src/github.com/home_streaming/app
    ports:
      - 3000:3000
    command: sh -c "realize start --run"

