@charset "utf-8";
* {
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 10px 4% 10px;
    background-color: #376ea8;
    position: fixed;
    top:0;
    display: flex;
    align-items: center;

    h1 {
        margin: 0; padding: 0;
        font-size: 24px;
        color: aquamarine;
        a {
            text-decoration: none;
            color: aliceblue;
        }
    }
}

ul {
    list-style: none;
    margin: 0;
    display: flex;
}

li {
    margin: 0 0 0 15px;
    font-size: 14px;
    a {
        text-decoration: none;
        color: aliceblue;
    }
}

nav {
    margin: 0 0 0 auto;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Lato", "Noto Sans JP", "Hiragino Kaku Gothic Pro", "", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e6e6e6;
}
.content {
  position: fixed;
  top: 44px;
}