@charset "UTF-8";
.block{
  width: 600px;
  height: auto;
  margin: 5% 20% 0 15%;
  text-align: center;
}
img {
  width: 600px;
  height: 50%;
  position: fixed;
}
p {
  position: fixed;
  bottom: 26%;
  margin: 0 19% 0 20%;
  font-size: 50px;
}
