<!DOCTYPE html>
<html lang="ja">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>{{.title}}</title>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    <link rel="icon" href="/favicon.ico">
    {{template "scripts"}}
    {{template "sidebar"}}
</head>
<body>
<header>
    <h1>
        <a href="/index" class="header">Home Streaming</a>
    </h1>
    <nav class="pc-nav">
        <ul>
            <li><a href="/list/video">Video</a></li>
            <li><a href="#">Picture</a></li>
            <li><a href="#">Music</a></li>
            {{if .user }}
                {{if ne .user.Name ""}}
                    <li><a href="#">{{.user.Name}}</a></li>
                    <li><a href="logout">Logout</a></li>
                {{else}}
                    <li><a href="login">Login</a></li>
                    <li><a href="register">Register</a></li>
                {{end}}
            {{else}}
                <li><a href="login">Login</a></li>
                <li><a href="register">Register</a></li>
            {{end}}
        </ul>
    </nav>
</header>
<div class="content">
    {{template "body" .}}
</div>
</body>
</html>

{{ define "scripts"}}{{end}}
{{ define "sidebar"}}{{end}}
