{{define "body"}}
<form method="post" enctype="multipart/form-data">
    <input type="text" name="filename">
    <input type="checkbox" name="is_private" value="1">
    <input type="file" name="file">
    <input type="submit" value="Submit">
</form>
{{end}}
