{{define "body"}}
<form method="post" enctype="multipart/form-data">
    <div><input type="text" name="filename"></div>
    <div><input type="checkbox" name="is_private" value="1"><p>Private Video</p></div>
    <div><input type="file" name="file"></div>
    <div><input type="submit" value="Submit"></div>
</form>
{{end}}
