{{define "scripts"}}
    <link href="/static/css/videoList.css" rel="stylesheet">
{{end}}
{{define "body" }}
    {{range .videos}}
        <div>
            <a href="/video/{{.Uid}}"><img alt="Not Found" src="/resources/video/{{.Uid}}/thumb.jpg"></a>
            <a href="/video/{{.Uid}}">{{.Name}}</a>
        </div>
    {{end}}
{{end}}
