{{define "scripts"}}
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js"></script>
    <script type="text/javascript"
            src="//cdn.jsdelivr.net/gh/clappr/clappr-level-selector-plugin@latest/dist/level-selector.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/clappr-pip@latest/dist/clappr-pip.js"></script>
{{end}}
{{define "body"}}
    <h1>{{.videoName}}</h1>
    <div id="player"></div>
    <script>
        var player = new Clappr.Player({
            source: "/resources/video/{{.videoId}}/playlist.m3u8",
            parentId: "#player",
            plugins: {
                core: [LevelSelector, ClapprPip.PipPlugin, ClapprPip.PipButton],
            },
            levelSelectorConfig: {
                title: `Quality`,
                labels: {
                    0: 'Very low',
                    1: 'Low',
                    2: 'Medium',
                    3: 'High'
                }
            },
        })
    </script>
{{end}}

