{{define "body" }}
    {{range .videos}}
        <div>
            <a href="/video/{{.Uid}}"><img alt="Not Found" src="/resources/video/{{.Uid}}/thumb.jpg"></a>
            <div>Title: {{.Name}}</div>
        </div>
    {{end}}
{{end}}
